.success {
    color: green;
    background: lightgray;
    border-style: solid;
    border-color: green;
    padding: 5px;
    margin: 5px;
}

.error {
    color: red;
    background: lightgray;
    border-style: solid;
    border-color: red;
    padding: 5px;
    margin: 5px;
}